html(lang='en')
  head
    title Cosmos - Analyze
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", href="/css/master.css")
  body(onload=items.loader)

    include includes/nav.pug

    div#mapView
    div.list-group#cameras
    script(src="/dist/bundle.js")
