html(lang='en')
  head
    title #{items.title}
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    script(src="/jquery/dist/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    link(rel="stylesheet", href="/css/camera.css")
  body(onload=items.loader)

    include includes/nav.pug

    div.container-fluid
      div.row
        div#mapView
      div#tabs
        div.row
          div.col-sm-2
            div(class="nav flex-column nav-pills",
              id="pills-tab",
              role="tablist",
              aria-orientation="vertical")
                a(class="nav-link active show",
                  id="pills-flux-tab",
                  data-toggle="pill",
                  href="#pills-flux",
                  role="tab",
                  aria-controls="pills-flux",
                  aria-selected="true") Flux vidéo
                a(class="nav-link",
                  id="pills-sequences-tab",
                  data-toggle="pill",
                  href="#pills-sequences",
                  role="tab",
                  aria-controls="pills-sequences",
                  aria-selected="false") Sequenceur
                a(class="nav-link",
                  id="pills-detections-tab",
                  data-toggle="pill",
                  href="#pills-detections",
                  role="tab",
                  aria-controls="pills-detections",
                  aria-selected="false") Détections
                a(class="nav-link",
                  id="pills-stats-tab",
                  data-toggle="pill",
                  href="#pills-stats",
                  role="tab",
                  aria-controls="pills-stats",
                  aria-selected="false") Statistiques
          div.col-sm-10
            div.tab-content#pills-tabContent

              div(class="tab-pane fade active show", id="pills-flux", role="tabpanel", aria-labelledby="pills-flux-tab")
                div#videoFluxBox
                  h1 #{items.title}
                  if items.detectionActive == 1
                    div.btn-group.btn-group-justified
                      a(id="btnDetectionOn", style="border-radius: 0px;cursor: pointer;", class="list-group-item list-group-item-action list-group-item-primary") Analyser
                      a(id="btnDetectionOff", style="border-radius: 0px;cursor: pointer;", class="list-group-item list-group-item-action list-group-item-light") Désactiver
                  else
                    div.btn-group.btn-group-justified
                      a(id="btnDetectionOn", style="border-radius: 0px;cursor: pointer;", class="list-group-item list-group-item-action list-group-item-light") Analyser
                      a(id="btnDetectionOff", style="border-radius: 0px;cursor: pointer;", class="list-group-item list-group-item-action list-group-item-primary") Désactiver
                  br
                  br
                  img(src=items.url)

              div(class="tab-pane fade show", id="pills-sequences", role="tabpanel", aria-labelledby="pills-sequences-tab")
                div#sequencerBox
                  div#gallery.row

                    each imgSeq in items.sequences.reverse()

                      - var datetime = imgSeq.result.date.day + '/' + imgSeq.result.date.month + '/' + imgSeq.result.date.year + ' - ' + imgSeq.result.time.hours + ':' + imgSeq.result.time.minutes + ':' + imgSeq.result.time.seconds;

                      div.col-sm-2.seqGallery
                        a
                          img(src=imgSeq.detection)
                        p #{datetime}

                  div#fullscreen
                    div#top(style="float: left;")
                      div#close
                        i.ion-close
                      div#switch
                        i.ion-loop
                    div#seqfull(style="float: right;position: absolute; left: 40px;")
                      img

              div(class="tab-pane fade show", id="pills-detections", role="tabpanel", aria-labelledby="pills-detections-tab")
                div#detectionsBox
                  table.table
                    thead
                      tr
                        th(scope="col") Taux
                        th(scope="col") Détections
                        th(scope="col") Screenshots
                        th(scope="col") Dates et heures
                        th(scope="col") Total

                    each imgSeq in items.sequences.reverse()

                      - var datetime = imgSeq.result.date.day + '/' + imgSeq.result.date.month + '/' + imgSeq.result.date.year + ' - ' + imgSeq.result.time.hours + ':' + imgSeq.result.time.minutes + ':' + imgSeq.result.time.seconds;

                      tbody
                      - if (imgSeq.result.pourc.join(", ").search("submarine") != -1 || imgSeq.result.pourc.join(", ").search("fregate") != -1 || imgSeq.result.pourc.join(", ").search("aircraft-carrier") != -1 || imgSeq.result.pourc.join(", ").search("supply-tanker") != -1)

                        tr(style="background-color: rgba(255, 0, 0, 0.3);")
                          th #{imgSeq.result.pourc.join(", ")}
                          td
                            a(target="_blank", href=imgSeq.detection) Voir la détection
                          td
                            a(target="_blank", href=imgSeq.original) Voir le screenshot
                          td #{datetime}
                          td #{imgSeq.result.total}
                          
                      - else if (imgSeq.result.pourc.join(", ").search("boat") != -1)

                        tr(style="background-color: rgba(0, 255, 0, 0.3);")
                          th #{imgSeq.result.pourc.join(", ")}
                          td
                            a(target="_blank", href=imgSeq.detection) Voir la détection
                          td
                            a(target="_blank", href=imgSeq.original) Voir le screenshot
                          td #{datetime}
                          td #{imgSeq.result.total}

              div(class="tab-pane fade show", id="pills-stats", role="tabpanel", aria-labelledby="pills-stats-tab")
                div#statisticsBox
                  canvas(id="numberDetectionsChart", width="400", height="225")

    script(src="/dist/bundle.js")
