html(lang='en')
  head
    title Cosmos - Home
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", href="/css/index.css")
  body(onload=items.loader)

    include includes/nav.pug

    div.container-fluid
      div.row
        div.jumbotron
          h1.display-4.title
            i.ion-android-boat 
            | Orizon Bêta
          p.lead Hackathon 2017 - Marine Nationale, Thales, Ecole 42
      div.row
        div#detectionsBox.col-sm-12
          h2 Monitoring Détections
          table.table
            thead
              tr
                th(scope="col") Caméra
                th(scope="col") Taux
                th(scope="col") Détections
                th(scope="col") Screenshots
                th(scope="col") Dates et heures
                th(scope="col") Total

            each imgSeq in items.sequences.reverse()

              - var datetime = imgSeq.result.date.day + '/' + imgSeq.result.date.month + '/' + imgSeq.result.date.year + ' - ' + imgSeq.result.time.hours + ':' + imgSeq.result.time.minutes + ':' + imgSeq.result.time.seconds;

              tbody
              - var cameraUrlPage = '/camera/' + imgSeq.id
              - if (imgSeq.result.pourc.join(", ").search("submarine") != -1 || imgSeq.result.pourc.join(", ").search("fregate") != -1 || imgSeq.result.pourc.join(", ").search("aircraft-carrier") != -1 || imgSeq.result.pourc.join(", ").search("supply-tanker") != -1)

                tr(style="background-color: rgba(255, 0, 0, 0.3);")
                  th #[a(href=cameraUrlPage, target="_blank") !{imgSeq.name}]
                  td #{imgSeq.result.pourc.join(", ")}
                  td
                    a(target="_blank", href=imgSeq.detection) Voir la détection
                  td
                    a(target="_blank", href=imgSeq.original) Voir le screenshot
                  td #{datetime}
                  td #{imgSeq.result.total}
                          
              - else if (imgSeq.result.pourc.join(", ").search("boat") != -1)

                tr(style="background-color: rgba(0, 255, 0, 0.3);")
                  th #[a(href=cameraUrlPage, target="_blank") !{imgSeq.name}]
                  td #{imgSeq.result.pourc.join(", ")}
                  td
                    a(target="_blank", href=imgSeq.detection) Voir la détection
                  td
                    a(target="_blank", href=imgSeq.original) Voir le screenshot
                  td #{datetime}
                  td #{imgSeq.result.total}
        div#sequencerBox
          h2(style="margin-left: 16px") Monitoring Séquences
          div#gallery.row
            each imgSeq in items.sequences.reverse()
              - var datetime = imgSeq.result.date.day + '/' + imgSeq.result.date.month + '/' + imgSeq.result.date.year + ' - ' + imgSeq.result.time.hours + ':' + imgSeq.result.time.minutes + ':' + imgSeq.result.time.seconds;

              div.col-sm-2.seqGallery
                img(src=imgSeq.detection)
                p #{datetime}
    script(src="/dist/bundle.js")